:root{
    --content-width: 85%;
    --primary-color: #18488D;
    --highlight-color:  #FF9B42;
    --secondary-color:  #EBF0F0;
    --dark-accent-color:  #28262C;
    --transparent-dark-accent-color: rgba(40,38,44,0.85);
    --themed-background: var(--secondary-color);
    --themed-text:  var(--dark-accent-color);
    --themed-highlight-background: var(--primary-color);
    background-color: var(--themed-background);
    font-family: "Poppins", Helvetica, Sans-Serif;
    
  }

/*      MAIN PAGE CSS      */
.header{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    max-width: 100%;
    width: 100vw;
    background: var(--dark-accent-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    text-decoration: none;
}
.navigation ul{
    margin-right: 50px;
}
.navigation a {
    color: var(--themed-text);               /* make sure the link text is white instead of blue default */
    text-decoration: none;          /* gets rid of underlines and such for hyperlinks */
    font-family:  "Comfortaa", Helvetica, sans-serif;
	display: block;                 /* Displays the elements in a block */
    padding: 2rem 0;
	transition: 0.25s;               /* Set the transition time for the hover */
	font-size: clamp(1rem, 2vmin, 1.5rem);  /* set the font sizes */
    width: 100%;
}
.navigation a.active, .navigation a:hover{
    color: var(--highlight-color);
    background-color: var(--dark-accent-color);
    font-weight: 750;
    transition: 0.25s;
}
/* REACTIVE MENU */
.navigation{
    display: none;
    position: static;
    list-style: none;
}
.navigation.show{
    display: block;
    position: absolute;
    top: 65px;
    left: 0%;
    width: 100vw;
    padding: 0;
    text-align: center;
    height: 100vw;
    background-color: var(--themed-background);
    height: 100vh;
}
#hamburger::before{
    content: "≡" ;
    font-size: 3em;
    position: absolute;
    top: 10%;
    left: 0;
    text-align: center;
    transition: 0.1s;
    width: 100%;
    z-index: -1;
}
#hamburger.show::before{
    content: "✕";
    font-size: 2em;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 1.5rem 0 1.5rem 0;
    background-color: var(--secondary-color);
    transition: 0s;
    z-index: -1;
}
/* END REACTIVE MENU */

img:not(#logo-img, .weather-icon, #hero-banner-close-button){
    display: block;
    width: 100%;
    max-width: 100vw;
    height: auto;
    z-index: -1;
    object-fit: cover;
}
.hero{
    position: relative;
}
#hero-banner{
    position: absolute;
    top: 25%; /* Position the banner 50% from the top */
    left: 50%; /* Position the banner 50% from the left */
    transform: translate(-50%, -25%); /* Center the banner */
    width: 90%;
    display: none;
    /* hidden by default.  turned on by js */
    /*display: flex;*/
    flex-direction: column;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family:-apple-system, sans-serif;
    box-shadow: 1.5px 1.5px 8px var(--highlight-color);
    flex-wrap: nowrap;
}
#hero-banner-title{
    font-size: clamp(.25rem, 5vw, 2.5rem);
    color: var(--secondary-color);
}
#hero-banner-details{
    font-size: clamp(.25rem, 5vw, 2rem);
}
#hero-banner-close-button{
    width: 40px;
    width: clamp(10px, 6vw, 40px);
    height: auto;
    position: absolute;
    top: 10px;
    right: 10px;
}

.button{
    display: block;
    text-decoration: none;
    background:var(--primary-color);
    box-shadow: 4px 4px 10px var(--transparent-dark-accent-color2); /* Add a shadow effect */
    color: var(--secondary-color);
    padding: 1.5rem;
    text-align: center;
    max-width: 200px;
    min-width: 150px;
    font-size: clamp(1rem, 1.2rem, 1.5rem);
    margin: 0 3vw;
}
.button:hover{
    transform: scale(1.04);
    transition: 0.25s;
    background-color: var(--highlight-color);
    color: black;
}
.highlight-card{
    background-color: var(--themed-highlight-background);
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.call-to-action-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cta-left-col{
    margin: 10%;
}
.cta-right-col *{
    width: var(--content-width);
    /*margin: 1.7rem auto;*/
    margin: 0 auto;
    text-align: center;
}
.cta-divider{
    border: none;
    background-color: var(--themed-text);
    height: 1px;
    width: clamp(40%, 60vw, 65%);
    margin: 2rem auto;
}
h3:not(.weather-title, .forecast-days,.event-title, .contact), h1, h2:not(.membership-details, .membership-title){
    font-size: 2.3rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: .5rem;
    color: var(--themed-text);
    margin: 1.5rem ;
}

.calendar{
    background-color: var(--themed-background);
    border-radius: 5px;
    margin: 3rem;
    padding-top: 3rem;
}
.calendar-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3rem;
    padding: 6rem 0 3rem 0;
}
.event{
    align-self: center;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.event *{
    text-align: left;
    font-size: clamp(1rem, 3vw + .25rem, 3rem);
    margin: 0;
    color: var(--secondary-color);
}
.event-details{
    position: absolute;
    bottom: 10%;
    left: 0%;
    z-index: 5;
    padding: 5% 5%;
    /*width: 100%;*/
    /*background-color: var(--dark-accent-color);*/

}
.event-img-container{
    position: relative;
    display: inline-block;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.spotlights-card{
    width: var(--content-width);
    margin: 0 auto;
}
.spotlights{
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-color);
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 6rem;
    padding: 3rem 0;
}

.company-box{
    border: 1px solid var(--themed-highlight-background);
    border-radius: 5px;
    background-color: var(--themed-background);
    width: 85%;
    min-width: 250px;
    max-width: 350px;
    margin: 0 auto;
    
}
.company-box h4{
    font-size: 1.5rem;
    background-color: var(--dark-accent-color);
    color: var(--secondary-color);
    padding: 2rem;
    text-align: center;
    margin: 0;
}
p:not(.footer, .event-details p, .contact, .footer-dates,#hero-banner-details){
    color: var(--themed-text);
    font-family: Helvetica, sans-serif;
    padding: .5rem 2rem;
    font-size: clamp(1rem, 1.3rem, 2rem);
}
.weather-card{
    background-color: var(--themed-highlight-background);
    color: var(--secondary-color);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 0 ;
    margin: 0;
    color: var(--secondary-color);
    font-size: clamp(1rem,2rem,2.5rem);
}

.weather-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*font-size: clamp(1rem,2rem,2.5rem);*/

}
#current-temp-description{
    /* force it on it's own line */
    flex: 0 0 100%;
    text-align: center;
    align-self: center;
    font-size: 1rem;
}
.weather-divider{
    justify-self: center;
    text-align: center;
    align-self: center;
    border: none;
    background-color: var(--secondary-color);
    height: 2px;
    width: clamp(3rem, 50vw, 50rem);
    margin: 3rem auto;
    padding: 0rem;
}
.weather-right{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    font-size: clamp(1rem,2rem,2.5rem);

}
.weather-forecast{
    grid-column: 1/-1;
    text-align: center;
    padding: 3rem;
    font-size: clamp(1rem,2rem,2.5rem);

}
#weather-forecast-details{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    font-size: clamp(1rem,2rem,2.5rem);
    gap: 2rem;
}
.forecast-days{
    display: flex;
    flex-direction: column;
    font-size: clamp(1rem,2rem,2.5rem);

}
.label{
    text-transform: uppercase;
    font-weight: bold;
    font-size: clamp(0.25rem, .75rem, 5rem);
    
}
.units{
    font-weight: lighter;
    font-size: clamp(.25rem, 1rem, 1.25rem);
    
}
.units-up{
    vertical-align: top;
    font-size: 2rem;
    font-size: clamp(1rem,2rem,2.5rem);
}

footer{
    background-color: var(--dark-accent-color);
    /*color: var(--themed-background);*/
    width: 100%;
}
.footer-dates{
    color: var(--secondary-color);
}
.footer-info{
    color: var(--secondary-color);
    text-decoration: none;
}
.footer-container{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 1rem;
    color: var(--secondary-color);
}

/*      DISCOVERY PAGE CSS      */
.discovery-visit{
    margin: 3rem 0;
    color: var(--themed-text);
    text-align: center;
}
#visit-content{
    font-size: 1.5rem;
    margin: 6rem auto 0 auto;
}
.discovery-left-col, .discovery-right-col{
    color: var(--themed-text);    
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 10%;
}
.discovery-card{
    max-width: 100%;
    height: auto;
    border: 1px solid var(--themed-text);
    color: var(--themed-text);
}

/*      JOIN PAGE CSS      */
#join-info-fieldset{
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;
    width: 85%;
    margin: 3rem auto;
    color: var(--themed-text);
}
#join-title{
    color: var(--themed-text);
    text-align: center;
    margin: 3rem auto;
}
.join-inputs{
    display: block;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 1rem;
    /*width: 100%;*/
    width: 100vw;
    max-width: 20rem;
}
.join-info{
    padding: .75rem 0;
}
#highlight-fieldset{
    width: 100%;
    background-color: var(--primary-color);
    padding: 2rem 0;
}
#membership-fieldset{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3rem;
    justify-content: space-around;
}
.membership-title{
    font-size: 2rem;
    padding: 2rem 0;
}

.level{
    display: flex;
    gap: .75rem;
    padding: 1rem 1.5rem;
}
#membership-right{
    /*margin: 2rem 0;*/
    height: 100%;
    /*padding: 1.5rem;*/
    margin: 0;
}
.membership-details li{
    margin: 1rem;
    font-size: 1rem;
}
#join-submit{
    display: block;
    text-align: center;
    margin: 3rem 0;
    padding: 1.2rem;
    width: max-content;
    max-width: 90%;
    font-size: clamp(1rem, 2vw, 2rem);
    text-decoration: none;

    background:var(--highlight-color);
    text-decoration-color: var(--primary-color);
    border: .1px solid var(--transparent-dark-accent-color);
    box-shadow: 4px 4px 10px var(--transparent-dark-accent-color2); /* Add a shadow effect */
    border-radius: 20px;
    color: black;
}
.button-inverse:hover{
    transform: scale(1.1);
    transition: .5s;
}

/* THANK YOU PAGE */
#thankyou-title{
    margin: 5rem auto;
    text-align: center;
    padding: 2rem;
    color: var(--themed-text);
}
#thankyou-content{
    margin: 5rem auto;
    text-align: center;
    padding: 2rem;
    color: var(--themed-text);
}

/* DIRECTORY CSS */
/* Buttons */
#directory-btn-container{
    display: flex;
    margin: 9rem auto 3rem auto;
    justify-content: center;
}

/* General to all contact info */
.contact-card{
    font-family: Helvetica, Sans-Serif;
}
/* reset everything to a base level */
.contact{
    font-size: clamp(.25rem, 2vh, 2rem);
    padding: 0;
    margin: 0;
    color: var(--secondary-color);
}
.contact-mLevel{
    font-weight: bold;
    margin-top: auto;
}

/* GRID VIEW */
.contacts-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-evenly;
    padding: 5rem 10rem 5rem 10rem;
    gap: 4rem;
    margin: 3rem 0 0 0;
    background-color: var(--dark-accent-color);
}
.contacts-grid .contact-card{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    
}
.contacts-grid > * > *{
    color: var(--dark-accent-color);
    padding: .3rem 0;
}

/* LIST VIEW */
.contacts-list{
    display: flex;
    flex-direction: column;
    margin: 3rem 0 0 0;
    padding: 5rem 0 0 0;
    background-color: var(--dark-accent-color);
    justify-content: center;
    align-items: center;
}
.contacts-list .contact-card{
    background-color: var(--themed-highlight-background);
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid var(--highlight-color);
    width: 100%;
    min-width: 200px;
    max-width: 400px;
}
.contacts-list .contact-card:nth-child(2n){
    /*background-color: var(--transparent-dark-accent-color);
    background-color: var(--themed-background);*/
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.contacts-list>*:nth-child(2n)>*{
    color: var(--primary-color);
}
.contacts-list > * > *{
    padding: .25rem 2rem;
}