/*@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;400;600;700;800&family=Poppins:wght@200;400&family=Roboto&display=swap');*/

:root{
    --content-width: 85%;
    --primary-color: #18488D;
    --highlight-color:  #FF9B42;
    --secondary-color:  #EBF0F0;
    --dark-accent-color:  #28262C;
    --transparent-dark-accent-color: rgba(40,38,44,0.85);
    --transparent-dark-accent-color2: rgba(40,38,44,0.85);
    --themed-background: var(--secondary-color);
    --themed-text:  var(--dark-accent-color);
    --themed-highlight-background: var(--primary-color);
  }

/*      MAIN PAGE CSS      */

body{
    
    display: flex;
    flex-direction: column;
    font-family: "Poppins", Helvetica, Sans-Serif;
    background-color: var(--themed-background);
}

.theme-container{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    /*top: 5%;*/
    top: 0;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0s;
    transform: scale(0.3);
    z-index: 100;
}
.theme-container:hover {
    opacity: 0.8;
  }
.shadow-dark {
    background: linear-gradient(145deg, #23282c, #1e2125);
    box-shadow: 17px 17px 20px var(--dark-accent-color),
    -17px -17px 24px var(--dark-accent-color), 
    inset 5px 5px 8px rgba(209, 217, 230, 0.35),
    inset -5px -5px 8px rgba(255, 255, 255, 0.3)
    }
.shadow-light {
    box-shadow: 10px 10px 15px -5px var(--secondary-color), 
    -10px -10px 25px var(--secondary-color),
        inset 5px 5px 8px rgba(209, 217, 230, 0.35),
        inset -5px -5px 8px rgba(255, 255, 255, 0.3)
    }

.header{
    /*position: absolute;*/
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    max-width: 100%;
    width: 100vw;
    background: var(--transparent-dark-accent-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.header:hover{
    background: var(--dark-accent-color);
    transition: 0.5s;
}
/* giving home-header a unique attribute as it needs absolute in order to handle the hero image */
.home-header{
    position: absolute;
}
#hamburger{
    text-decoration: none;
    color: var(--secondary-color);
}
.navigation ul{
    margin-right: 50px;
}
.navigation a {
    color: var(--themed-text);               /* make sure the link text is white instead of blue default */
    text-decoration: none;          /* gets rid of underlines and such for hyperlinks */
    font-family:  "Comfortaa", Helvetica, sans-serif;
	display: block;                 /* Displays the elements in a block */
    padding: 2rem 0;
    /*margin: 0.5rem 0;*/
	transition: 0.25s;               /* Set the transition time for the hover */
	font-size: clamp(1rem, 2vmin, 1.5rem);  /* set the font sizes */
    width: 100%;
}
.navigation a.active{
    color: var(--highlight-color);
    background-color: var(--dark-accent-color);
    font-weight: 750;
    transition: 0.25s;
}
.navigation a:hover{
    background-color: var(--highlight-color);
    color: var(--dark-accent-color);
    font-weight: 750;
    transition: 0.5s;
}
/* REACTIVE MENU */
#hamburger::before{
    content: "≡" ;
    font-size: 3em;
    position: absolute;
    top: 10%;
    left: 0;
    text-align: center;
    transition: 0.1s;
    width: 100%;
}
#hamburger.show::before{
    content: "✕";
    font-size: 2em;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 1.5rem 0 1.5rem 0;
    background-color: var(--secondary-color);
    transition: 0s;
    z-index: 2;
}
.navigation{
    display: none;
    position: static;
    list-style: none;
}
.navigation.show{
    display: block;
    position: absolute;
    top: 65px;
    left: 0%;
    width: 100vw;
    padding: 0;
    text-align: center;
    height: 100vw;
}
.logo{
    z-index: 3;
}
.logo img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
/* Hide the main content when looking at hamburger menu */
main.show{ 
    opacity: 0%;
    z-index: -1;
    margin-top: -20px;
    transition: .25s;
}
/* END REACTIVE MENU */

.hero{
    position: relative;
}
.hero h1{
    position: absolute;
    bottom: 15%;
    left: 10%;
    color: var(--secondary-color);
    font-size: clamp(1rem, 5vw, 3rem);
    max-width: 80%;
}
.wk6-label-small, .wk6-label-medium, .wk6-label-large{
    position: absolute;
    bottom: 25%;
    left: 50%;
    color: white;
    font-size: clamp(2rem, 4vw, 5rem);
    background-color: black;
    z-index: 99999;
}
.wk6-label-medium, .wk6-label-large{
    display: none;
}

/*.button a{*/
.button{
    display: block;
    text-decoration: none;
    background:var(--primary-color);
    box-shadow: 4px 4px 10px var(--transparent-dark-accent-color2); /* Add a shadow effect */
    color: var(--secondary-color);
    padding: 1.5rem;
    text-align: center;
    max-width: 200px;
    min-width: 150px;
    font-size: clamp(1rem, 1.2rem, 1.5rem)
}
.button:hover{
    transform: scale(1.04);
    transition: 0.25s;
    background-color: var(--highlight-color);
    color: black;
}

.button-inverse{
    display: block;
    text-decoration: none;
    background:var(--highlight-color);
    text-decoration-color: var(--primary-color);
    border: .1px solid var(--transparent-dark-accent-color);
    border-radius: 20px;
    box-shadow: 4px 4px 10px var(--transparent-dark-accent-color2); /* Add a shadow effect */
    color: black;
    padding: 1.3rem 2.5rem;
    text-align: center;
    width: max-content;
    font-size: clamp(1rem, 2.5vw, 2rem);
}
.button-inverse:hover{
    transform: scale(1.1);
    transition: .5s;
}


.hero img{
    width: 100%;
    height: auto;
    max-height: 90vh;
    z-index: -1;
}
.card h2, .card h3, .card p{
    color: var(--themed-text);
}
.card-heading{
    font-size: 2.3rem;
    text-align: center;
    /*font-family: "Hanken Grotesk", sans-serif;*/
    font-family: Helvetica, sans-serif;
    padding: 4rem ;
}
.highlight-card{
    background-color: var(--themed-highlight-background);
    /*margin: 6rem;*/
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.call-to-action-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cta-left-col{
    margin: 10%;
}
.cta-right-col *{
    width: var(--content-width);
    margin: 1.7rem auto;
    text-align: center;
}
.cta-divider{
    border: none;
    background-color: var(--themed-text);
    height: 1px;
    width: clamp(40%, 60vw, 65%);
    margin: 2rem auto;
}

.call-to-action-card p{
    font-size: 1.3rem;
    /*font-family: "Hanken Grotesk", sans-serif;*/
    font-family: Helvetica, sans-serif;
}
.call-to-action-card h3{
    /*font-family: "Hanken Grotesk", sans-serif;*/
    font-family: Helvetica, sans-serif;
    font-size: 1.8rem;
}

.calendar{
    background-color: var(--themed-background);
    border-radius: 5px;
    margin: 3rem;
}
.calendar-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3rem;
    padding: 6rem 0;
}
.event{
    align-self: center;
    position: relative;
    /*margin: 1rem;*/
    justify-content: space-evenly;
    align-items: center;
}
.event h3, .event p{
    text-align: left;
    font-size: clamp(1rem, 3vw + .25rem, 3rem);
    margin: 0;
    color: var(--secondary-color);
}
.event-details{
    position: absolute;
    bottom: 10%;
    left: 0%;
    z-index: 3;
    padding: 0 5%;
    width: 100%;
}
.event-img-container{
    position: relative;
    display: inline-block;
}
.event img{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    /*box-shadow: 0 0 50px #333;*/
    /*transition: filter 0.3s;*/
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.spotlights-card{
    width: var(--content-width);
    margin: 0 auto;
    /*display: flex;*/
}
.spotlights{
    display: flex;
    /*flex-direction: column;*/
    flex-direction: row;
    background-color: var(--secondary-color);
    flex-wrap: wrap;
    gap: 6rem;
    /*margin: 3rem;*/
}

.company-box{
    flex: 1;
    border: 1px solid var(--themed-highlight-background);
    border-radius: 5px;
    background-color: var(--themed-background);
    min-width: 250px;
}
.company-box h4{
    font-size: 1.5rem;
    background-color: var(--dark-accent-color);
    color: var(--secondary-color);
    padding: 2rem;
    text-align: center;
    margin: 0;
}
.company-box p{
    padding: 1rem;
}

.weather-card{
    background-color: var(--themed-highlight-background);
    color: var(--secondary-color);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 0 ;
    margin: 0;
}
.weather-title{
    font-family: sans-serif;
    font-size: 2.5rem;
    margin: 2rem;
    text-align: center;
}
.weather-box{
    display: flex;
    flex-direction: column;
}
.weather-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather-divider{
    justify-self: center;
    text-align: center;
    align-self: center;
    border: none;
    background-color: var(--secondary-color);
    height: 2px;
    width: clamp(3rem, 50vw, 50rem);
    margin: 3rem;
    padding: 0;
}
.weather-right{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.info-group{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.weather-icon{
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.weather-icon.large{
    width: 80px;
    height: 80px;
}
.current-temp{
    font-size: 2rem;
    margin-left: 2rem;
}
.label{
    text-transform: uppercase;
    font-weight: bold;
    font-size: clamp(0.25rem, .75rem, 5rem);
}
.units{
    font-weight: lighter;
    font-size: clamp(.25rem, .75rem, 1rem);
}
.units-up{
    vertical-align: top;
}

.footer{
    background-color: var(--dark-accent-color);
    color: var(--secondary-color);
    width: 100%;
}
.footer-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 1rem;
    padding: 3rem;
}
.footer-container a{
    text-decoration: none;
    color: var(--secondary-color);
    margin: auto 0;
}


/*      DISCOVERY PAGE CSS      */
.discovery-main{
    display: grid;
    grid-template-columns: 1fr;
    margin: 3rem auto;
    width: 90%;
    gap: 6rem;
    }
.discovery-visit{
    margin: 3rem 0;
    color: var(--themed-text);
    text-align: center;
}
.discovery-left-col, .discovery-right-col{
    /*margin: 3rem 0;*/
    grid-column: 1/2;
    /*gap: 6rem;*/
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.discovery-card{
    max-width: 100%;
    height: auto;
    border: 1px solid var(--themed-highlight-background);
    color: var(--themed-text);
}
.discovery-card h2{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 2rem;
    margin: 0;
}
.discovery-card p{
    padding: 1rem;
}
.discovery-img-container{
    display: flex;
    flex-direction: column;
}
.discovery-img img{
    max-width: 100%;
    width: 100%;
    height: auto;
}
.discovery-img-caption{
    align-self: flex-start;
}

/*      JOIN PAGE CSS      */
#join-main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--themed-background);
    color: var(--themed-text);
}
#join-title{
    text-align: center;
}
#join-form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    margin: 0 auto;
}
#join-info-fieldset{
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    width: 90%;
    margin: 0 auto;
}
.join-info, .join-inputs{
    display: block;
}
.join-info span{
    color: red;
}
.join-info{
    padding: 2rem 0 0 0;
    font-size: .8rem;
}
.join-inputs{
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: .75rem 0;
    width: 100%;
    max-width: 20rem;
}
#highlight-fieldset{
    width: 100%;
    background-color: var(--primary-color);
    padding: 2rem 0;
}
#membership-fieldset{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3rem;
    /*align-items: center;*/
    justify-content: space-around;
}
#membership{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.membership-title{
    color: var(--highlight-color);
}
#membership-left{
    display: flex;
    flex-direction: column;
    gap: .1rem;
}
.level{
    display: flex;
    gap: .75rem;
    padding: .5rem 1.5rem;
}
input[type=radio] {
    accent-color: var(--dark-accent-color);
 }

#membership-right{
    margin: 2rem 0;
    height: 100%;
}
#membership h2{
    font-size: 2.5rem;
}
.membership-info h3{
    font-size: 2rem;
}
.membership-details{
    font-size: 1.5rem;
}
.membership-details ol{
    margin: 1.5rem;
}
.membership-details li{
    margin: 1rem;
    font-size: 1rem;
}
#join-submit{
    margin: 10rem 0 0 0;
    max-width: 90%;
    font-size: clamp(1rem, 2vw, 2rem);
    padding: 1.2rem;
}

/* THANK YOU PAGE */
#thankyou-title{
    margin: 5rem auto;
    text-align: center;
    padding: 2rem;
}
#thankyou-title span{
    color: var(--highlight-color);
    text-transform: uppercase;
}
#thankyou-content{
    margin: 5rem auto;
    text-align: center;
    padding: 2rem;
}
#thankyou-content span{
    font-size: .5rem; /* Initial font size */
    color: black; /* Initial color */
    transition: font-size .7s, color 1.5s; /* 2 seconds transition duration for both properties */
    font-size: 2rem; /* Font size to transition to */
    color: var(--primary-color); /* Color to transition to */
}


/* DIRECTORY CSS */
.directory-main{
}
/* Buttons */
#directory-btn-container{
    display: flex;
    /*justify-content: space-evenly;*/
    margin: 10rem auto 3rem auto;
    justify-content: center;
}
#gridBtn, #listBtn{
    margin: 0 3vw;
}

/* General to all contact info */
.contact-card{
    font-family: Helvetica, Sans-Serif;
}
/* reset everything to a base level */
.contact-name, .contact-address, .contact-number, .contact-website, .contact-mLevel{
    font-size: clamp(.25rem, 2vh, 2rem);
    padding: 0;
    margin: 0;
    color: var(--secondary-color);
}
.contact-website{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /*text-decoration: underline;*/
}
.contact-mLevel{
    font-weight: bold;
    margin-top: auto;

}


/* GRID VIEW */
.contacts-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: space-evenly;
    padding: 5rem 10rem 5rem 10rem;
    gap: 2rem;
    margin: 3rem 0 0 0;
    background-color: var(--dark-accent-color);
}
.contacts-grid .contact-card{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
}
.contacts-grid > * > *{
    color: var(--dark-accent-color);
    padding: .3rem 0;
}
.contacts-grid .contact-img{
    width: 90%;
    height: auto;
    margin: 2rem auto;
}

/* LIST VIEW */
.contacts-list{
    display: flex;
    flex-direction: column;
    margin: 3rem 0 0 0;
    padding: 5rem 0 0 0;
    background-color: var(--dark-accent-color);
    justify-content: center;
    align-items: center;
}
.contacts-list .contact-card{
    background-color: var(--themed-highlight-background);
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid var(--highlight-color);
    width: 100%;
    min-width: 200px;
    max-width: 400px;
}
.contacts-list .contact-card:nth-child(2n){
    background-color: var(--transparent-dark-accent-color);
    background-color: var(--themed-background);
    color: var(--primary-color);
}
.contacts-list>*:nth-child(2n)>*{
    color: var(--primary-color);
}
.contacts-list .contact-card:last-child{
    border-bottom: 0px none var(--themed-highlight-background);
}
.contacts-list > * > *{
    padding: .25rem 0;
}
.contacts-list .contact-img{
    display: none;
}