@media screen and (min-width: 910px) {

    .calendar{
        margin: 6rem;
    }
    .calendar-box{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .event{
        flex-basis: calc(40% - 10px);
        flex-grow: 0;
        flex-shrink: 0;
    }
    .event h3, .event p{
        height: 40%;
        width: 100%;
        font-size: clamp(1.25rem, 2vw, 2rem);
    }
}