@media screen and (min-width: 910px) {
        #hamburger{
        display: none;
    }
    .logo{
        justify-self: flex-start;
        margin-right: 15rem;
    }
    nav{
        width: 100%;
    }
    .navigation{
        display: flex;
        justify-content: space-evenly;
    }
    .navigation a, .navigation{
        background-color: var(--primary-color);
        color: white;
    }
    .hero h1{
        font-size: clamp(2rem, 3rem, 5rem);
        /*top: -15rem;*/
    }
    .call-to-action{
        display: grid;
        grid-template: auto /auto auto;
    }
    .left-col {
        grid-column: 1/2;
        padding-right: 25px;
    }
    .right-col{
        grid-column: 2/3;
        text-align: center;
    }
    .join, .directory{
        display: inline-block;
        margin: auto 0;
        width: 80%;
        margin-left: 25px;
        padding: 0;
    }
    .call-to-action hr{        
        display: block;
        padding: 0;
        margin-left: 25px;
        margin-right: 0;
        width: 100%;
    }
    .spotlights{
        flex-direction: row;
        justify-content: space-between;
    }
}