@media screen and (min-width: 700px) and (max-width: 910px) {
    *{
        --transparent-dark-accent-color: rgba(40,38,44,0.5);
    }
    .header{
        background: var(--transparent-dark-accent-color2);
    }
    #hamburger{
        display: none;
    }
    .theme-container{
        transform: scale(0.4);
        z-index: 3;
    }
    .logo{
        justify-self: flex-start;
        margin-right: auto;
    }
    nav{
        width: 100%;
    }
    .navigation{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        margin-right: 50px;
    }
    .navigation a, .navigation{
        color: white;
    }
    .navigation a.active{
        background-color: transparent;
    }
    .navigation a:hover{
        background-color: var(--highlight-color);
        color: var(--dark-accent-color);
        font-weight: 750;
        transition: 0.25s;
    }
    /* WK 6 Assignment  */
    .wk6-label-medium{
        display: block;
    }
    .wk6-label-small, .wk6-label-large{
        display: none;
    }
    /*  */
    .hero h1{
        bottom: 10%;
    }
    .button a{
        padding: 1.3rem 1.5rem;
        font-size: clamp(1rem, 1.2rem, 3rem)
        
        /*text-wrap: nowrap;*/
    }
    .call-to-action-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }
    .cta-left-col{
        grid-column: 1/2;
        margin: 0 0 0 7.5%;
    }
    .cta-right-col{
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        margin: auto auto 7.5% 0;
    }
    .cta-divider{
        width: clamp(40%, 30vw, 50rem);
    }
    .event{
        margin: 1rem auto;
    }
    .weather-box{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 3rem;
    }
    .weather-divider{
        align-self: center;
        justify-self: center;
        border: none;
        background-color: var(--secondary-color);
        width: 2px;
        height: clamp(6rem, 20vh, 10rem);
        margin: 1rem;
        padding: 0;
    }
    .spotlights{
        flex-direction: row;
        justify-content: space-between;
    }
}