@media screen and (min-width: 700px) and (max-width: 910px) {
    *{
        --transparent-dark-accent-color: rgba(40,38,44,0.5);
    }
    header{
        background: var(--transparent-dark-accent-color2);
    }
    #hamburger{
        display: none;
    }
    .theme-container{
        transform: scale(0.4);
        z-index: 3;
    }
    .logo{
        justify-self: flex-start;
        margin-right: auto;
    }
    nav{
        width: 100%;
    }
    .navigation{
        padding: 0;
        margin: 0;
        
        display: flex;
        justify-content: space-evenly;
        margin-right: 50px;
    }
    .navigation a, .navigation{
        color: white;
    }
    .navigation a.active{
        background-color: transparent;
    }
    .navigation a:hover{
        background-color: var(--highlight-color);
        color: var(--dark-accent-color);
        font-weight: 750;
        transition: 0.25s;
    }
    .hero h1{
        bottom: 10%;
    }
    .call-to-action{
        display: grid;
        grid-template: auto /2fr 1fr;
    }
    .left-col {
        grid-column: 1/2;
        padding-right: 25px;
    }
    .right-col{
        grid-column: 2/3;
        /*margin: auto 0;*/
        text-align: center;
    }
    .join, .directory{
        display: inline-block;
        margin: auto 0;
        width: 80%;
        margin-left: 25px;
        padding: 0;
    }
    .call-to-action hr{        
        display: block;
        padding: 0;
        margin-left: 25px;
        margin-right: 0;
        width: 100%;
    }
   
    .spotlights{
        flex-direction: row;
        justify-content: space-between;
    }
}