@media screen and (min-width: 700px) and (max-width: 910px) {
    
    /* REACTIVE MENU */
    #hamburger{
        display: none;
    }

    header{
        justify-content: flex-start;
    }
    .logo{
        justify-self: flex-start;
        /*margin-right: 15rem;*/
        margin-right: auto;
    }
    nav{
        width: 100%;
    }
    .menu-list{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .menu-list a{
        background-color: var(--primary-color);
        color: white;
    }
    
    /* END REACTIVE MENU */


    .hero h1{
        font-size: clamp(2rem, 2rem, 3.5rem);  /* set the font sizes */
    }
    .call-to-action{
        display: grid;
        grid-template: auto /2fr 1fr;
    }
    .left-col {
        grid-column: 1/2;
        padding-right: 25px;
    }
    .right-col{
        grid-column: 2/3;
        /*margin: auto 0;*/
        text-align: center;
    }
    .join, .directory{
        display: inline-block;
        margin: auto 0;
        width: 80%;
        margin-left: 25px;
        /*margin-top: 0;*/
        padding: 0;
    }
    .join h3, .directory h3{
        /*padding: 50px;*/
    }
    .call-to-action hr{        
        display: block;
        padding: 0;
        margin-left: 25px;
        margin-right: 0;
        width: 100%;
    }
    
    .spotlights{
        flex-direction: row;
        justify-content: space-between;
    }

    /*.call-to-action{
        display: grid;
        grid-template: auto 50px auto/auto 100px auto;
    }
    .intro {
        grid-row: 1/-1;
    }
    .join{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .call-to-action hr{
        grid-column: 3/4;
        grid-row: 2/3;
        display: block;
    }
    .directory{
        grid-column: 3/4;
        grid-row:3/4;
    }
    .join, .directory, .call-to-action hr{
        margin: auto 0;
    }
    
    .spotlights{
        flex-direction: row;
        justify-content: space-between;
    }*/
    

}