/* Fonts are Architects Daughter, Bree Serif, Poppins, Rock Salt, Waiting for the Sunrise*/
@import url('https://fonts.googleapis.com/css2?family=Titillium&family=Bree+Serif&family=Poppins&family=Comfortaa&family=Waiting+for+the+Sunrise&display=swap');

body {
    display: grid;
    /*height: 100vh;*/
    grid-template: auto auto 1fr auto / 1% 98% 1%;
    margin: 0;
    /*font-family: sans-serif;*/
    font-family: "Poppins", Helvetica, Sans-Serif;  /*general paragraph text*/
}

header {
    background: #1D1E22;
    color: white;
    padding: 1rem;
    grid-column: 1/4;
    text-align: center;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
}

header div img{
    max-width: 100%;
    padding: 1rem;
}
header div h1{
    padding: 1rem;
    font-size: 3.5em;
}

nav {
    background: black;
    grid-column: 1/4;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 20px 0;
    font-size: 1.75em;
    /*font-family: "Bree Serif", Helvetica, sans-serif;*/
    font-family:  "Comfortaa", Helvetica, sans-serif;

}

main {
    grid-column: 2/3;
    /*max-width: 90%;*/
    padding: 1rem;
    /*justify-self: center;
    align-self: center;
    margin: 0;*/
}

main h2{
    text-align: center;
    padding-top: 2rem;
    font-size: 2em;

    font-family:  "Comfortaa", Helvetica, sans-serif;

}

main h3{
    background: #1D1E22;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.5em;
    font-family:  "Titillium", Helvetica, sans-serif;
}

main ul li{
    padding: .25rem;
    list-style-type: none;
}

.card{
    outline: 1px solid grey;
    border-radius: 5px;
    /*padding: 3rem;*/
    font-size: 1.5em;
}

.card div{
    text-align: center;
    padding: 1rem;
}

footer{
    grid-column: 1/4;
    background: #1D1E22;
}
footer p{
    text-align: center;
    font-size: 1.25em;
    color: white;
}
#lastModified{
    color: yellow;
}




/* @Media Query - Don't add css after this section */
/*@media screen and (max-width: 900px) {
    header div{
        display: block;*/
        /*justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;*/
    /*}*/

    /*header div img {
        width: 570;
        height: 338;
    }*/



/*}*/


