
body {
    display: grid;
    /*height: 100vh;*/
    grid-template: auto auto 1fr auto / 10% 80% 10%;
    margin: 0;
    /*font-family: sans-serif;*/
    font-family: "Poppins", Helvetica, Sans-Serif;  /*general paragraph text*/
}

header {
    background: #1D1E22;
    color: white;
    padding: 1rem;
    grid-column: 1/4;
    text-align: center;
}

header div{
    /*display: flex;*/
    display: block;
    justify-content: center;
    align-items: center;
}

header div img{
    /**/
    height: auto;
    max-width: 100%;
}
header div h1{
    padding: 1rem;
    font-size: 3.5em;
}

nav {
    background: black;
    grid-column: 1/4;
    text-align: center;
    display: flex;
    flex-direction: column;

}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 20px 0;
    font-size: 1.75em;
    font-family:  "Comfortaa", Helvetica, sans-serif;
}

main {
    grid-column: 2/3;
    padding: 1rem;
    /*justify-self: center;
    align-self: center;
    margin: 0;*/
}

main h2{
    text-align: center;
    padding-top: 2rem;
    font-size: 2em;
    font-family:  "Comfortaa", Helvetica, sans-serif;
}

main h3{
    background: #1D1E22;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.5em;
    font-family:  "Titillium", Helvetica, sans-serif;
}

main ul li{
    padding: .25rem;
    list-style-type: none;
}

.card{
    outline: 1px solid grey;
    border-radius: 5px;
    /*padding: 3rem;*/
    font-size: 1.5em;
}

.card div{
    text-align: center;
    padding: 1rem;
}

footer{
    grid-column: 1/4;
    background: #1D1E22;
}
footer p{
    text-align: center;
    font-size: 1.25em;
    color: white;
}
#lastModified{
    color: yellow;
}




/* @Media Query - Don't add css after this section */
/*@media screen and (max-width: 900px) {
    header div{
        display: block;*/
        /*justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;*/
    /*}*/

    /*header div img {
        width: 570;
        height: 338;
    }*/



/*}*/


